{% extends "base.twig" %}
{% block body %}

    {% if errors is not empty %}
        <ul class="errors">
            {% for e in errors %}
                <li>{{ e }}</li>
                {% endfor %}
        </ul>
    {% endif %}

    <form method="post" action="" class="login-box">
        <div class="form-group">
            <ul>
                <li>
                    <label>Podaj E-mail</label>
                    <input type="email" name="email" value="{{ email }}" placeholder="E-mail" required class="form-control"/>
                </li>   
                <li>
                    <button>Przypomnij</button>
                </li>
            </ul>    
        </div>
    </form>
{%endblock%}
